<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Teas</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js "></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/tea/index">List</a>
    <a href="/tea/add">Add</a>
    <a href="/tea/remove">Remove</a>
</nav>

</body>
</html>