<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${teas}">
    <div class="form-group">
        <label th:for="fruits">Name</label>
        <input class="form-control" th:field="*{fruits}" />
        <span th:errors="*{fruits}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{honey}" />
        <span th:errors="*{honey}" class="error"></span>
    </div>

    <input type="submit" value="Add Tea" />
</form>

</body>
</html>