<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${teas} and ${teas.size()}">no tea :(</p>


<table class="table">

    <tr>
        <th>Fruits</th>
        <th>Honey</th>
        <th>Herbals</th>
    </tr>

    <tr th:each="teas : ${tea}">
        <td th:text="${tea.name}"></td>
        <td th:text="${tea.}"></td>
        <td th:text="${tea.category.name}"></td>
    </tr>

</table>

</body>
</html>