<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="tea : ${teas}" class="checkbox">
        <input type="checkbox" name="teaIds" th:value="${tea.id}" th:id="${tea.id}"/>
        <label th:for="${tea.id}" th:text="${tea.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Tea" />
</form>

</body>
</html>